<div class="cropper_popup visually-hidden" role="document">
  <div class="cropper_popup_content">
    <div class="cropper_popup_header">
      <h5 class="cropper_popup_title">{{ 'Crop the image'|t }}</h5>
      <span role="button" class="cropper_popup_close" aria-label="{{ 'Close'|t }}"></span>
    </div>
    <div class="cropper_popup_body">
      <div class="cropper_popup_img_container">
        <img id="cropper_popup_img">
      </div>
    </div>
    <div class="cropper_popup_footer">
      <button type="button" class="button" name="cancel">{{ 'Cancel'|t }}</button>
      <button type="button" class="button button__primary" id="crop" name="crop">{{ 'Crop'|t }}</button>
    </div>
  </div>
</div>
